<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vecs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="root"></div>
    <script>
      {{#state}}
        window.__INITIAL_STATE__ = JSON.parse('{{{ state }}}');
      {{/state}}
      {{^state}}
        window.__INITIAL_STATE__ = null;
      {{/state}}
    </script>
    <script src="bundle.js"></script>
  </body>
</html>